# Helper scripts and environment
env/
.vscode/sftp.json
.vscode/chrome-debug/
upload_script.txt
*.log
bin/
*.bat


# Dependencies
node_modules/
.pnpm-store

# Production Build
dist/
dist-ssr/
*.local
public/api/config.php
dist/api/config.php

# Testing
coverage/

# Misc
.DS_Store
.env
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
.vite/